<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in getCartItems" :key="index">
          <td> <img :src="item.ime_src" style="width: 80px; margin-top:10px"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.size.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price * item.quantity }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: "OrderList",
  data(){
    return {};
  },
  computed : mapGetters(['getCartItems'])
};
</script>