<template>
  <div>
    <v-simple-table class>
      <template v-slot:default>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Subtotal:</td>
            <td>PHP {{ getSubTotal }}</td>
          </tr>
          <tr>
            <td>Discount:</td>
            <td>PHP {{ getDiscount }}</td>
          </tr>
          <tr>
            <td>Shipping Fee:</td>
            <td>FREE</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>PHP {{ getTotal }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    
    <div class="text-right mt-1">
      <v-btn class="proceed-to-checkout-btn" color="primary" to="/checkout" v-if="action=='proceed-to-checkout'">PROCEED TO CHECKOUT</v-btn>
      <v-btn class="proceed-to-checkout-btn" color="primary"  v-if="action=='place-order'">Place Order</v-btn>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  name: "OrderList",
  data(){
    return {};
  },
  props:['action'],
  computed : mapGetters(['getDiscount','getTotal','getSubTotal'])
};
</script>

<style lang="scss">


  @media (max-width:480px) {
    .proceed-to-checkout-btn{
      width: 100%;
    }
  }
</style>