<template>
  <div>
    <v-row>
      <v-col cols="12" lg="3" sm="12">
        <div class="entry">
          <h5>status</h5>
          <br />
          <p>order number</p>
          <br />
          <h5>ECOM-0000000000</h5>
          <p>asdasdasdsa</p>
        </div>
      </v-col>
      <v-col cols="12" lg="9" sm="12">
        <v-row>
          <v-col>
            <v-card>
              <div class="d-flex flex-no-wrap">
                <v-avatar class="ma-3" size="125" tile>
                  <v-img
                    src="https://s3.ap-southeast-1.amazonaws.com/brenesports/uploads/products/_1576820823images (9).jpeg"
                  ></v-img>
                </v-avatar>
                <div>
                  <v-card-title class="headline" v-text="'Superfly 2'"></v-card-title>
                  <v-card-text>
                    <b>Model:</b> superfly |
                    <b>SKU</b>: superfly
                    <br />
                    <b>Color:</b> Blue |
                    <b>Size</b>: 40
                    <br />
                    <b>Quantity:</b> 2
                    <br />
                    <b>Sale:</b> 10% off
                    <br />
                    <b>Price:</b> PHP 5,000.00 - PHP 4,500.00
                    <br />
                    <b>Subtotal:</b> PHP 9,000.00
                    <br />
                    <v-divider></v-divider>
                    <div class="text-right">
                      <b>Subtotal:</b> PHP 9,000.00
                      <br />
                      <b>Grand Total:</b> PHP 9,000.00
                    </div>
                  </v-card-text>
                </div>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>