<template>
  <v-form ref="form" v-model="valid" lazy-validation class="mt-4">
    <div class="text-center mb-4">
      <h4>New Customer? Sign up to create your account</h4>
    </div>
    <v-text-field v-model="data.first_name" :rules="firstNameRules"  label="First Name" required></v-text-field>
    <v-text-field v-model="data.last_name" :rules="lastNameRules"  label="Last Name" required></v-text-field>
    <v-text-field v-model="data.email" :rules="emailRules"  label="E-mail" required></v-text-field>
    <v-text-field
      v-model="data.mobile"
      :rules="mobileRules"
      label="Mobile"
      required
    ></v-text-field>
    <v-text-field
      v-model="data.password"
      :rules="passwordRules"
      :type="show_pass ? 'text' : 'password'"
      :append-icon="show_pass ? 'mdi-eye' : 'mdi-eye-off'"
      hint="At least 8 characters"
      @click:append="show_pass = !show_pass"
      label="Password"
      required
    ></v-text-field>
    <v-text-field
      type="password"
      v-model="data.confirm_password"
      :rules="[v => !!v || 'Confirm Password is required',v => (v && v == data.password) || 'Password not matched!']"
      label="Confirm Password"
      required
    ></v-text-field>

    <v-checkbox
      v-model="data.agree"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>

    <v-btn :disabled="!valid" color="primary" class="mr-4" @click="submit">Register</v-btn>
  </v-form>
</template>

<script>
import {mapActions} from 'vuex';
export default {
  data: () => ({
    show_pass: false,
    valid: true,
    firstNameRules: [
      v => !!v || "First Name is required",
      v => (v && v.length <= 30) || "Name must be less than 30 characters"
    ],
    lastNameRules: [
      v => !!v || "Last Name is required",
      v => (v && v.length <= 30) || "Name must be less than 30 characters"
    ],
    mobileRules: [
      v => !!v || "Mobile is required",
      v => (v && v.length == 11) || "Invalid mobile number"
    ],
    passwordRules: [
      v => !!v || "Password is required",
      v => (v && v.length >= 8) || "Password must be 8 characters above."
    ],
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    data: {
      agree: false
    }
  }),

  methods: {
    ...mapActions(['register','setSignInAsDone']),
    submit(){
      this.register(this.data);
      this.setSignInAsDone(true);
    }
  }
};
</script>