<template>
  <v-form ref="form" v-model="valid" lazy-validation class="mt-4">
    <div class="text-center mb-4">
        <h4>Already have an account?</h4>
    </div>
    <v-text-field v-model="data.email" :rules="emailRules" label="E-mail" required></v-text-field>

    <v-text-field v-model="data.password"  label="Password" required></v-text-field>

    <v-btn :disabled="!valid" color="primary" class="mr-4" @click="login(data)">Login</v-btn>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    data : {

    },
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    select: null,
  }),

  methods: {
    login(){
      console.log(this.data);
    }
  }
};
</script>