<template>
  <div class="app-nav">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/">Home</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/products">Products</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/about">About</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/contact">Contact</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="nav-icon" />
      <v-toolbar-title>Brand</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn class="nav-menu" text to="/">Home</v-btn>
      <v-btn class="nav-menu" text to="/products">Products</v-btn>
      <v-btn class="nav-menu" text to="/about">About</v-btn>
      <v-btn class="nav-menu" text to="/contact">Contact</v-btn>

      <v-btn to="/cart" icon>
        <v-icon>fas fa-shopping-cart</v-icon>
        <v-badge color="red" :content="getCartTotalItems"></v-badge>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-menu left bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-avatar color="primary">
              <span class="white--text headline">BB</span>
            </v-avatar>
          </v-list-item>

          <v-list-item link>
            <v-list-item-content>
              <v-list-item-title class="title">Blair Paul Baldomero</v-list-item-title>
              <v-list-item-subtitle>bbaldomero@thirtyonedigital.com</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list nav dense>
          <v-list-item-group color="primary">
            <v-list-item :to="{path: '/my-profile'}">
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>My Profile</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
          <v-list-item-group color="primary">
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-heart</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>My Favorites</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
          <v-list-item-group color="primary">
            <v-list-item :to="{path: '/order-history'}">
              <v-list-item-icon>
                <v-icon>mdi-history</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Order History</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "NavBar",
  props: {
    source: String
  },
  data: () => ({
    drawer: false
  }),
  computed: mapGetters(["getCartTotalItems"])
};
</script>

<style lang="scss" scoped>
.nav-icon {
  display: none;
}
@media (max-width: 780px) {
  .nav-menu {
    display: none;
  }
  .nav-icon {
    display: block;
  }
}
</style>