<template>
  <v-form ref="form" v-model="valid" lazy-validation class="mt-8">
    <v-row>
      <v-col cols="12" lg="6" sm="12">
        <v-text-field v-model="data.first_name" :rules="firstNameRules" label="First Name" required></v-text-field>

        <v-text-field v-model="data.last_name" :rules="lastNameRules" label="Last Name" required></v-text-field>
        <v-text-field v-model="data.mobile" :rules="mobileRules" label="Mobile" required></v-text-field>
        <v-text-field
          v-model="data.shipping_address"
          :rules="shippingAddressRules"
          label="Shipping Address"
          required
        ></v-text-field>
        <v-text-field v-model="data.region" :rules="regionRules" label="Region" required></v-text-field>
      </v-col>
      <v-col cols="12" lg="6" sm="12">
        <v-text-field v-model="data.city" :rules="cityRules" label="City" required></v-text-field>

        <v-text-field v-model="data.zip_code" :rules="zipCodeRules" label="Zip Code" required></v-text-field>
        <v-text-field v-model="data.barangay" :rules="barangayRules" label="Barangay" required></v-text-field>
        <v-text-field v-model="data.land_mark" :rules="landMarkRules" label="Landmark" required></v-text-field>
        <v-text-field
          v-model="data.delivery_instruction"
          :rules="deliveryInstructionRules"
          label="Delivery Instruction"
          required
        ></v-text-field>
      </v-col>
    </v-row>

    <v-btn :disabled="!valid" color="primary" class="mr-4" @click="submit">Done</v-btn>
  </v-form>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    data: {},
    valid: true,
    firstNameRules: [
      v => !!v || "First name is required",
      v => (v && v.length <= 30) || "Name must be less than 30 characters"
    ],
    lastNameRules: [
      v => !!v || "Last name is required",
      v => (v && v.length <= 30) || "Name must be less than 30 characters"
    ],
    mobileRules: [
      v => !!v || "Mobile is required",
      v => (v && v.length == 11) || "Invalid mobile number"
    ],
    shippingAddressRules: [v => !!v || "Shipping address is required"],
    regionRules: [v => !!v || "Region is required"],
    cityRules: [v => !!v || "City is required"],
    zipCodeRules: [v => !!v || "Zip code is required"],
    barangayRules: [v => !!v || "Brangay is required"],
    landMarkRules: [v => !!v || "Landmark is required"],
    deliveryInstructionRules: [v => !!v || "Delivery instruction is required"],
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ]
  }),

  methods: {
    ...mapActions(["setDeliveryDetails", "setDeliveryDetailsAsDone"]),
    submit() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        this.setDeliveryDetails();
        this.setDeliveryDetailsAsDone(true);
      }
    }
  }
};
</script>