<template>
  <v-container>
    <v-radio-group v-model="payment_method">
      <v-radio
        v-for="(method, index) in methods"
        :key="index"
        :label="method.label"
        :value="method.value"
        color="primary"
        @click="select"
      ></v-radio>
    </v-radio-group>
    <v-btn color="primary" :disabled="payment_method == ''" @click="submit">done</v-btn>
  </v-container>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    methods: [
      { label: "Paypal", value: "paypal" },
      { label: "Bank Deposit", value: "bank-deposit" }
    ],
    payment_method: ""
  }),
  methods: {
    ...mapActions(["setPaymentMethod", "setPaymentMethodAsDone"]),
    submit() {
      this.setPaymentMethod(this.payment_method);
      this.setPaymentMethodAsDone(true);
    },
    select(){
      this.setPaymentMethod(this.payment_method);
    }
  }
};
</script>
