<template>
  <v-container>
    <v-row>
      <v-col>
        <OrderList />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="6" sm="12">
        <v-card class="mx-auto mt-12" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Use A Coupon With This Order</v-list-item-title>
              <v-list-item-subtitle>If you have a coupon and would like to use it with this order, please enter it below.</v-list-item-subtitle>
              <v-form ref="form" lazy-validation class="mt-4">
                <v-row>
                  <v-col cols="12" lg="6" sm="12">
                    <v-text-field label="Coupon Code" single-line solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" lg="6" sm="12">
                    <v-btn color="primary" large class="mr-4">Use Coupon</v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col cols="12" lg="6" sm="12">
        <OrderTotals action="place-order" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import OrderList from "@/components/cart/OrderList.vue";
import OrderTotals from "@/components/cart/OrderTotals.vue";
export default {
  components:{
    
    OrderList,
    OrderTotals
  },
  data: () => ({})
};
</script>
