<template>
  <v-row>
    <v-col lg="6" md="6" sm="12">
      <v-card class="mx-auto" max-width="600px">
        <v-img :src="product.ime_src" class="white--text align-end" height="350px"></v-img>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-share-variant</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col lg="6" md="6" sm="12" class="product-details">
      <h2>{{ product.name }}</h2>
      <v-spacer></v-spacer>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur saepe reprehenderit ducimus at distinctio sapiente illum dignissimos. Suscipit quae soluta quaerat veritatis voluptatem dolor alias minima sunt iste! Reprehenderit, fugiat!</p>
      <v-row>
        <v-col cols="6">
          <v-select v-model="product.size" :items="sizes" item-text="name" item-value="id" label="size" return-object  solo></v-select>
        </v-col>
        <v-col cols="6">
          <v-text-field type="number" class="inputPrice" v-model="product.quantity" placeholder="Quantity"></v-text-field>
        </v-col>
      </v-row>
      <v-btn  class="ma-2" tile color="primary" outlined  dark @click="addCartItem(product)">Add To Cart</v-btn>
    </v-col>
  </v-row>
</template>

<script>

import  { mapActions } from 'vuex';
export default {
  data: () => ({
    product: {
      id:3,
      name: "Pre-fab homes",
      ime_src:"http://bizu.thirtyonedigital.co/uploads/images/1571398439Mediterranean Salad 1.jpg",
      size : {id : 1, name : 'small'},
      price : 400.00,
      quantity : 1,

    },
    sizes: [
      {id : 1, name : 'small'}, 
      {id : 2, name : 'medium'}, 
      {id : 3, name : 'large'}]
  }),
  methods : {
    ...mapActions(['addCartItem'])
  }
};
</script>

<style lang="scss">
@media (max-width: 959px) {
  .product-details{
    text-align: center;
  }
}
</style>