<template>
  <v-container class="mb-12">
    <div class="text-center mb-12 mt-12">
      <h2>Checkout</h2>
    </div>
    <v-row align="center">
      <v-expansion-panels :focusable="true" :hover="true" :tile="true" popout>
        <v-expansion-panel>
          <v-expansion-panel-header :disabled="getDoneSteps.sign_in == true">
            <v-row>
              <v-btn text>
                <v-icon left>mdi-account</v-icon>Sign In
              </v-btn>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content >
            <v-row>
              <v-col cols="12" lg="6" sm="12" md="6">
                <SignIn />
              </v-col>
              <v-col cols="12" lg="6" sm="12" md="6">
                <Register />
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel  :disabled="getDoneSteps.sign_in == false" >
          <v-expansion-panel-header id="delivery">
            <v-row>
              <v-btn text>
                <v-icon left>mdi-truck</v-icon>Delivery
              </v-btn>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content v-model="getDoneSteps.sign_in">
            <DeliveryDetails />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel :disabled="getDoneSteps.delivery_details == false">
          <v-expansion-panel-header id="payment">
            <v-row>
              <v-btn text>
                <v-icon left>mdi-credit-card</v-icon>Payment
              </v-btn>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PaymentMethod />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel :disabled="getDoneSteps.payment == false">
          <v-expansion-panel-header id="place-order">
            <v-row>
              <v-btn text>
                <v-icon left>fas fa-money-check-alt</v-icon>Review And Place Order
              </v-btn>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ReviewAndPlaceOrder />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-container>
</template>

<script>
import SignIn from "@/components/customer/SignIn.vue";
import Register from "@/components/customer/Register.vue";
import DeliveryDetails from "@/components/checkout/DeliveryDetails.vue";
import PaymentMethod from "@/components/checkout/PaymentMethod.vue";
import ReviewAndPlaceOrder from "@/components/checkout/ReviewAndPlaceOrder.vue";
import { mapGetters } from 'vuex';
export default {
  name: "checkout",
  components: {
    SignIn,
    Register,
    DeliveryDetails,
    PaymentMethod,
    ReviewAndPlaceOrder
  },
  data: () => ({
    
  }),
  computed : mapGetters(['getDoneSteps'])
};
</script>
