<template>
  <div class="home">      
  <Carousel/>
    <v-container class="grey lighten-5">
      <div class="text-center">
        <h1>Introduction</h1>
        <p>Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum tempor vel ut orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <v-row>
        <v-col
          v-for="n in 8"
          :key="n"
          lg="3"
          sm="12"
        >
          <ProductList/>
        </v-col>
      </v-row>
      <v-divider class="mt-12 mb-12"></v-divider>
    </v-container>
  </div>
</template>
<script>
// @ is an alias to /src
import Carousel from '@/components/home/Carousel.vue';
import ProductList from '@/components/product/List.vue';

export default {
  name: 'home',
  components: {
    Carousel,
    ProductList
  }
}
</script>
