<template>
  <v-container>
      <OrderHistories/>
  </v-container>
</template>

<script>
import OrderHistories from "@/components/customer/OrderHistory.vue";
export default {
    name :'OrderHistory',
    components : {
        OrderHistories
    }
};
</script>

