<template>
  <v-container class="mb-12">
    <BreadCrumbs />
    <ViewProduct />
    <v-divider class="mt-12 mb-12"></v-divider>

    <div class="text-center mb-12">
        <h3>Related Products</h3>
    </div>
    <v-row>
      <v-col v-for="n in 4" :key="n" lg="3" sm="6">
        <ProductList />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ViewProduct from "@/components/product/View.vue";
import BreadCrumbs from "@/components/product/BreadCrumbs.vue";
import ProductList from "@/components/product/List.vue";
export default {
  name: "viewProduct",
  components: {
    ViewProduct,
    BreadCrumbs,
    ProductList
  },
};
</script>
