<template>
    <v-container>
        <div class="text-center mt-5 mb-5">
            <h2>Products</h2>
        </div>
          <v-row>
            <v-col v-for="n in 8" :key="n" lg="3" sm="12">
                <Products/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Products from '@/components/product/List.vue';

export default {
  name: 'ProductList',
  components: {
    Products
  }
}
</script>
