<template>
    <v-container>
        <v-row class="order-list">
            <v-col lg="8" md="8" sm="12">
                <OrderList/>
            </v-col>
            <v-col lg="4" md="4" sm="12">
                <OrderTotals action="proceed-to-checkout"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

import OrderList from "@/components/cart/OrderList.vue";
import OrderTotals from "@/components/cart/OrderTotals.vue";

export default {
    name:"Cart",
    components : {
        OrderList,
        OrderTotals
    }
    
}
</script>

<style lang="scss">
    .order-list{
        font-weight: 500;
    }
</style>