
<template>
  <!-- <template>
  <v-app id="app">
    <NavBar/>
    <v-content>
      <router-view/>
    </v-content>
    <AppFooter/>
  </v-app>
  </template>-->
  <v-app id="inspire">
    <NavBar />
    <v-content>
      <router-view />
    </v-content>
    <v-footer color="primary">
      <AppFooter />
    </v-footer>
  </v-app>
</template>
<script>
import NavBar from "@/components/layouts/NavBar.vue";
import AppFooter from "@/components/layouts/AppFooter.vue";
export default {
  name: "navBar",
  components: {
    NavBar,
    AppFooter
  }
};
</script>
